[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/haml"]
	path = vendor/plugins/haml
	url = git://github.com/nex3/haml.git
[submodule "vendor/plugins/rspec_rails"]
	path = vendor/plugins/rspec_rails
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/plugins/in_place_editing"]
	path = vendor/plugins/in_place_editing
	url = git://github.com/rails/in_place_editing.git
[submodule "vendor/plugins/acts_as_xapian"]
	path = vendor/plugins/acts_as_xapian
	url = git://github.com/frabcus/acts_as_xapian.git
[submodule "vendor/plugins/fckeditor"]
	path = vendor/plugins/fckeditor
	url = git://github.com/bilson/fckeditor.git
[submodule "vendor/plugins/tiny_mce"]
	path = vendor/plugins/tiny_mce
	url = git://github.com/kete/tiny_mce.git
