body
  :font-family verdana
  :margin-left 4em
  :width 53.5em
table
  thead
    th
      :text-align left
    th.notes
      :width 40em
  tbody
    td
      :vertical-align top
    td.notes
      :width 40em
    td
      :padding-top 1em
