body
  :font-family verdana, sans-serif
  :margin 2em auto
  :width 47.5em
table
  thead
    th
      :text-align left
    th.notes
      :width 40em
  tbody
    td
      :vertical-align top
    td.notes
      :width 40em
    td
      :padding-top 1em
