%tr
  %td.record
    %h4.name= link_to_record record
    %p.notes= record.notes_summary.gsub("/","/ ")
    %p.url= link_to_web_page(record)
  - if @is_admin
    %td= link_to 'Edit', edit_record_path(record)
  - else
    %td