- @atom = auto_discovery_link_tag(:atom).sub('records','records.atom')
- @title = "Knowledge Base records"

%div#search= render :partial => 'search_form'

%table#records{:summary=>"Listing records"}
  = render :partial => 'table_header'
  %tbody
    = render :partial => 'record', :collection => @records

= link_to 'New record', new_record_path