- @javascript = :defaults

- if @is_admin && (!@records_needing_check.empty? || !@records_recently_edited.empty?)
  %fieldset.admin
    %legend Admin
    = render :partial => 'records_to_check'
    = render :partial => 'recently_edited'

#tags-and-status
  %center.tags= weighted_tags_list(@tags)
  %center.statuses= statuses_list(@statuses)
