- @javascript = :defaults
- @title= 'Knowledge Base'

%div
  = render :partial => 'search_form'

%div
  %p
    %span.topics_label Topics:
    = topics_list(@topics)
  %p
    %span.topics_label Categories:
    = categories_list(@categories)