- @javascript = :defaults
%h1 Knowledge Base

- form_tag do
  = text_field_tag 'search', @search
  = submit_tag 'Search'

-if @records
  %table#records{:summary=>"Matches"}
    = render :partial => 'table_header'
    %tbody
      = render :partial => 'record', :collection => @records