- @javascript = :defaults
- @title= 'Knowledge Base'

- if @is_admin && !@records_needing_check.empty?
  %div#records-to-check
    %h2 Records to check
    - @records_needing_check.collect do |record|
      = record.check_by_date
      = link_to_record(record)
      %br
#tags-and-status
  %p.tags= tags_list(@tags)
  %p.statuses
    %span.statuses_label Status
    = statuses_list(@statuses)

