- @javascript = :defaults
- @title = 'Knowledge Base'

%div
  = render :partial => 'search_form', :locals => {:term => @term}

-if @records
  = render :partial => 'search_result', :collection => @records