- @javascript = :defaults
- @title= 'Knowledge Base'

%div
  = render :partial => 'search_form'

%div
  %p
    %span.tags_label Tags:
    = topics_list(@topics)
  %p
    %span.statuses_label Statuses:
    = categories_list(@categories)