- @javascript = :defaults
%h1 Knowledge Base

- form_tag('/', :method => :get) do
  = text_field_tag 's', @term
  = submit_tag 'Search'

-if @records
  = render :partial => 'search_result', :collection => @records