- @javascript = :defaults
- @title= 'Knowledge Base'

- if @is_admin && !@records_needing_check.empty?
  %div#records-to-check
    %h2 Records to check
    - @records_needing_check.collect do |record|
      = record.check_by_date
      = link_to_record(record)
      %br
#tags-and-status
  %center.tags= weighted_tags_list(@tags)
  %hr
  %center.statuses= statuses_list(@statuses)

