%h1 Show record

%table.record
  = render :partial => 'table_header'
  %tbody
    = render :partial => 'record', :object => @record, :locals => {:note => @record.note }

= link_to 'Edit', edit_record_path(@record)
= link_to 'Back', records_path