- @javascript = :defaults
-@title= @record.display_title

%table.record
  = render :partial => 'table_header'
  %tbody
  = render :partial => 'record', :object => @record, :locals => {:notes => html_formatted_notes(@record) }

= link_to 'Edit', edit_record_path(@record)
= link_to 'Back', records_path